@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: Merriweather;
    background-image: url('./skyairline_skyairline_image_182.jpeg');
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 800px;
    width: 800px;
    margin: auto;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    box-shadow: 0 0 55px black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    backdrop-filter: blur(10px);
    padding: 100px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    text-shadow: 1px 3px white;
}

h4 {
    text-align: center;
    padding: 8px;
    background-color: white;
}

form {
    text-align: center;
}

input {
    text-align: center;
    height: 25px;
}

.boton {
    margin-top: 20px;
    width: 177px;
    height: 30px;
    background-color: #481DCB;
    color: white;
}

.boton:hover {
    padding: 7px;
    background-color: #381896;
}

a {
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: white;
    color: black;
}

a:hover {
    color: #481DCB;
}